.admin-container {
  width: auto;
  height: 770px;
  margin: 0px;
  
  border: 2px solid #000000;
  background: #eee;
}
.side-container {
  width: 150px;
  color: #8e9aaf;
  background-color: #CCE3DE;
  border: 1px solid #000000;
}
.main-container {
  background-color: #EAF4F4;
}
