.admin-container {
  width: auto;
  height: 800px;
  margin: 10px;
  border: 2px solid #000000;
  background: #eee;
}
.side-container {
  width: 150px;
  color: #8e9aaf;
  background-color: #feeafa;
  border: 1px solid #000000;
}
.main-container {
  background-color: #dee2ff;
}
