<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          #txtUsernameOrEmail
          type="text"         
          class="form-control"
          id="Username"
          placeholder="Username & E-mail"          
        />
        <div
          class="form-text"         
          style="color: red"
        >
          
        </div>
      </div>
      <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input
          #txtPassword
          type="password"        
          class="form-control"
          id="Password"
          placeholder="Password"          
        />        
      </div>
      	<div class="col-md-8"  style="border: 1px;">
           <asl-google-signin-button size="large"></asl-google-signin-button>
          </div>
      
      <br>
      <button type="submit" class="btn btn-primary" (click)="Login(txtUsernameOrEmail.value,
        txtPassword.value)">Login</button>
    
  </div>
  <div class="col-md-1"></div>
</div>
