#login{
    background-color: darkcyan;
    color: greenyellow;
    font-size: x-large;    
    font-weight: bolder;
    font-family:sans-serif;
    align-items:flex-end;
    clear:left;
    margin-left: 3px;
}
#login:hover{
    opacity: 50%;
    text-decoration:underline;
}

#register{
    background-color: darkcyan;
    color: greenyellow;
    font-size: x-large;    
    font-weight: bolder;
    font-family:sans-serif;
    align-items:flex-end;
    clear:left;
    margin-left: 3px;
}
#register:hover{
    opacity: 50%;
    text-decoration:underline;
}

.navbar-nav{
    justify-content:space-evenly;
    line-height: 40px;
}