
<mat-list role="list">
    <a mat-list-item role="listitem" routerLink="/admin" class="dashboard-button" >Dashboard</a>
    <a mat-list-item role="listitem" routerLink="customers" class="customers-button">Customers</a>
    <a mat-list-item role="listitem" routerLink="products"class="products-button" >Products</a>
    <a mat-list-item role="listitem" routerLink="orders" class="orders-button">Orders</a>
    <a mat-list-item role="listitem" routerLink="" class="home-button">Home Page</a>
  </mat-list>
