.dashboard-button:hover {
    background-color: #f4f1bb;
    border: 2px solid #ed6a5a;
    text-align: right;
  
}
.customers-button:hover {
    background-color: #f4f1bb;
    border: 2px solid #ed6a5a;
    text-align: right;
}
.products-button:hover {
    background-color: #f4f1bb;
    border: 2px solid #ed6a5a;
    text-align: right;
}
.orders-button:hover {
    background-color: #f4f1bb;
    border: 2px solid #ed6a5a;
    text-align: right;
}
.home-button:hover {
    background-color: #f4f1bb;
    border: 2px solid #ed6a5a;
    text-align: right;
}