<div style="background-color:#CCE3DE ;">
  <h2 mat-dialog-title>Product Images</h2>
<mat-dialog-content class="mat-typography">
    <app-fileupload [options]="options"></app-fileupload>

    <mat-card class="product-image-card"  appearance="outlined" *ngFor="let image of images">
      <mat-card-header>       
      </mat-card-header>
      <img mat-card-image style="width: 150px;height: 150px;" [src]="image.path" >
      <mat-card-content>        
      </mat-card-content>
      <mat-card-actions>       
        <button mat-flat-button color="warn" (click)="deleteImage(image.id,$event)">Delete</button>
      </mat-card-actions>
    </mat-card>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Kapat</button>  
</mat-dialog-actions>
</div>